[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.12"
